/* ===== BASE ===== */

 
 


 /* ===== /BASE ===== */

/* ===== COMPONENT ===== */





/* ===== /COMPONENT ===== */

 /* ===== HEADER ===== */




 /* ===== /HEADER ===== */

               /*===== MAIN-STUDIO ===== */
/* == Секція HERO == */






/* == Секція ADVANT == */



/* .section-advant {
   padding-top: 94px;
} */



/* == Секція DOING == */





/* == Секція TEAM == */

/* == Секція CLIENT == */

/* == /Секція CLIENT == */

           /* ===== /MAIN-STUDIO ===== */

/* ===== FOOTER ===== */


/* .action-btn_with-icon:hover,
.action-btn_with-icon:focus {
   background-color:
   var( --hero-btn-background-focus-color, #188CE8);
} */

/* ===== /FOOTER ===== */

     /* ===== MAIN-PORTFOLIO ===== */





 
    /* ===== /MAIN-PORTFOLIO ===== */

    /* ====== Модальне вікно ====== */








/* .submit-btn:hover,
.submit-btn:focus {
   background-color:
   var( --hero-btn-background-focus-color, #188CE8);
} */



/* ====== /Модальне вікно ====== */
/* End */